
body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Oswald', sans-serif;
}

.navbar-brand{
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 2rem !important;
}

.logo1{
  width: 2rem;
  height: 2rem;
}


.carousel-item img{
  height: 45rem;
}

.sectionh1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}


section p{
  font-family: 'Open Sans', cursive;
  font-weight: 400;
}

.icono1{
  background-color: #24a5b9;
}

#destacados h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.card-title{
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.s.seccion3h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
